@import '../utils/_colors.scss';

#testimonials {
  position: relative;
  width: 100%;
  min-height: 400px;
  padding: 50px 0;
  background-color: lighten($color: $color-primary, $amount: 8%);
  overflow: hidden;
}

.btnContainer {
  display: inline-block;
  width: 80px;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  button {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 50%;
    color: #fff;
    margin: 0 5px;
    text-align: center;
    vertical-align: middle;
    outline: none;
  }
}
