@import '../utils/_colors.scss';

#testimonials {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 400px;
  padding: 50px 0;
  background-color: lighten($color: $color-primary, $amount: 8%);
}
