$fonts: (
  display: (
    font-family: 'Work Sans',
  ),
  body: (
    font-family: 'Work Sans',
  ),
);

@mixin font($type) {
  @each $key, $value in map-get($fonts, $type) {
    #{$key}: #{$value};
  }
}
